# Dependencies
node_modules/
.pnp
.pnp.js

# Build Output
dist/
dist-ssr/
*.local

# Production
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment Variables
# (Keep the example files, but ignore the ones containing secrets)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor/IDE Folders
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage/
__snapshots__/

# System Files
.DS_Store
Thumbs.db

# Vite/TypeScript Specific
.vite/
*.tsbuildinfo

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
